.demo{
	width:1000px;
	height: 1500px;
}
.wrap{
	width:100%;
	height:100%;
	
}
.containerform{
		width:1400px;
		height:100px;
		margin-left:500px;
		margin-top:-100px;
}
.headerReserv{
	 text-align: center;
	
}

table{
	width:1000px;
	float:left;
	
}
td{
	text-align: center;
	width:200px;
	height : 50px;
}


hr{
	width : 100%;
	height : 2px;
	border : 2px;
	background-color : black;
}

.form-bg{

    background: #e4e6e6;
    width:200px;
	}
.footerForm{
}	
.tablehead{
	
}
.footerReserv{
	margin-left : 200px;
	width:400px;
	font-family: 'Roboto', sans-serif;
	font-size:20px;
	height:800px;
	margin-top:200px;
	
}
body
{
	background-color: #e4e6e6;
}
form{
    font-family: 'Roboto', sans-serif;
}
.form{
	margin-top: -700px;
    margin-right: 800px;
    float: right;
    width:0%;
    height:0%;
}

.form-horizontal .header{
    background: #3f9cb5;
    padding: 30px 25px;
    font-size: 30px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    border-radius: 3px 3px 0 0;
    width:500px;
}

.form-horizontal .heading{
    font-size: 16px;
    color: #3f9cb5;
    margin: 10px 0 20px 0;
    text-transform: capitalize;
}

.form-horizontal .form-content{
    padding: 25px;
    background: #fff;
    width:500px;
}

.form-horizontal .form-control{
    padding: 12px 16px 12px 39px;
    height: 50px;
    font-size: 14px;
    color: #2b2a2a;
    border: none;
    border-bottom: 2px solid #ccc;
    border-radius: 0;
    box-shadow: none;
    margin-bottom: 15px;
}

.form-horizontal .form-control:focus{
    border-color: #3f9cb5;
    box-shadow: none;
}
.demo
{
	padding: 100px 0;
	float : left;
}
.heading-title
{
	margin-bottom: 100px;
}
.form-horizontal .control-label{
    font-size: 17px;
    color: #ccc;

    top: 5px;
    left: 27px;
    text-align: center;
}

.form-horizontal textarea.form-control{
    resize: vertical;
    height: 130px;
}

.form-horizontal .btn{
    font-size: 18px;
    color: #4e4e4e;
    float: right;
    margin: 10px 0;
    border: 2px solid #ccc;
    border-radius: 0;
    padding: 10px 25px;
    transition: all 0.5s ease 0s;
}

.form-horizontal .btn:hover{
    background: #fff;
    border-color: #3f9cb5;
}@charset "utf-8";
/* CSS Document */

