<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="managerDAO">
 
<select id="productTotal" resultType='com.travel.dto.ChartResponse'>
 SELECT
    SUM("01") AS "jan", SUM("02") AS "feb", SUM("03") AS "mar", SUM("04") AS "april", SUM("05") AS "may", SUM("06") AS "june",
    SUM("07") AS "july", SUM("08") AS "aug", SUM("09") AS "sep", SUM("10") AS "oct", SUM("11") AS "nov", SUM("12") AS "dec"
FROM( 
 SELECT   TO_CHAR( BOOKING_DATE ,'MM') AS MM, TO_CHAR(BOOKING_DATE ,'DD') AS DD 
        , DECODE(TO_CHAR(BOOKING_DATE,'MM'), '01', BOOKING_PRICE, 0) AS "01"
        , DECODE(TO_CHAR(BOOKING_DATE,'MM'), '02', BOOKING_PRICE, 0) AS "02"
        , DECODE(TO_CHAR(BOOKING_DATE,'MM'), '03', BOOKING_PRICE, 0) AS "03"
        , DECODE(TO_CHAR(BOOKING_DATE,'MM'), '04', BOOKING_PRICE, 0) AS "04"
        , DECODE(TO_CHAR(BOOKING_DATE,'MM'), '05', BOOKING_PRICE, 0) AS "05"
        , DECODE(TO_CHAR(BOOKING_DATE,'MM'), '06', BOOKING_PRICE, 0) AS "06"
        , DECODE(TO_CHAR(BOOKING_DATE,'MM'), '07', BOOKING_PRICE, 0) AS "07"
        , DECODE(TO_CHAR(BOOKING_DATE,'MM'), '08', BOOKING_PRICE, 0) AS "08"
        , DECODE(TO_CHAR(BOOKING_DATE,'MM'), '09', BOOKING_PRICE, 0) AS "09"
        , DECODE(TO_CHAR(BOOKING_DATE,'MM'), '10', BOOKING_PRICE, 0) AS "10"
        , DECODE(TO_CHAR(BOOKING_DATE,'MM'), '11', BOOKING_PRICE, 0) AS "11"
        , DECODE(TO_CHAR(BOOKING_DATE,'MM'), '12', BOOKING_PRICE, 0) AS "12"
        FROM BOOKING   
		WHERE TO_CHAR(BOOKING_DATE,'YYYY')BETWEEN 2023 AND 2023 
        )   
</select>


<select id="productTotalSeason" resultType='com.travel.dto.ChartResponseSeason'>
 
  SELECT
    SUM("01"+"02"+"03") AS "quarterOne", SUM("04"+"05"+"06") AS "quarterTwo", SUM("07"+"08"+"09") AS "quarterThree", SUM("10"+"11"+"12") AS "quarterFour"  
FROM( 
 SELECT   TO_CHAR( BOOKING_DATE ,'MM') AS MM, TO_CHAR(BOOKING_DATE ,'DD') AS DD 
        , DECODE(TO_CHAR(BOOKING_DATE,'MM'), '01', BOOKING_PRICE, 0) AS "01"
        , DECODE(TO_CHAR(BOOKING_DATE,'MM'), '02', BOOKING_PRICE, 0) AS "02"
        , DECODE(TO_CHAR(BOOKING_DATE,'MM'), '03', BOOKING_PRICE, 0) AS "03"
        , DECODE(TO_CHAR(BOOKING_DATE,'MM'), '04', BOOKING_PRICE, 0) AS "04"
        , DECODE(TO_CHAR(BOOKING_DATE,'MM'), '05', BOOKING_PRICE, 0) AS "05"
        , DECODE(TO_CHAR(BOOKING_DATE,'MM'), '06', BOOKING_PRICE, 0) AS "06"
        , DECODE(TO_CHAR(BOOKING_DATE,'MM'), '07', BOOKING_PRICE, 0) AS "07"
        , DECODE(TO_CHAR(BOOKING_DATE,'MM'), '08', BOOKING_PRICE, 0) AS "08"
        , DECODE(TO_CHAR(BOOKING_DATE,'MM'), '09', BOOKING_PRICE, 0) AS "09"
        , DECODE(TO_CHAR(BOOKING_DATE,'MM'), '10', BOOKING_PRICE, 0) AS "10"
        , DECODE(TO_CHAR(BOOKING_DATE,'MM'), '11', BOOKING_PRICE, 0) AS "11"
        , DECODE(TO_CHAR(BOOKING_DATE,'MM'), '12', BOOKING_PRICE, 0) AS "12"
        FROM BOOKING 
		WHERE TO_CHAR(BOOKING_DATE,'YYYY')BETWEEN 2023 AND 2023 
        )  
 
</select>


</mapper>