<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mypageDAO" >


<select id="selectReview" parameterType="String" resultType="com.travel.domain.ReviewVO">
  SELECT *
  FROM REVIEW_BOARD 
  WHERE REVIEW_WRITER = #{id}
</select>


<select id="selectBook" parameterType="String" resultType="com.travel.domain.BookingVO">
  
SELECT * 
FROM BOOKING
 WHERE MEMBER_ID = #{id}
</select>



</mapper>